@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  overflow: hidden;
  border-right: 0.1em solid #ef4444; /* Modern tech red */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  width: 13ch; /* Set to the length of your text */
  display: inline-block;
  animation: typing 2.5s steps(13, end) forwards,
    blink-caret 0.6s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14.5ch;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ef4444;
  }
}
